.copyright{
	background-color: #003F6D;
	font-size: 14px;	
	line-height: 1.4;
	padding-top: 40px;
	padding-bottom: 40px;
	color: #5e92b9;
	
	
	
	p{
		color: #5e92b9;
		font-size: 14px;	
		line-height: 1.4;
		margin: 0 0 10px;
	}
	p.copyright__label{
		color: #82b3d7;
		font-size: 16px;
	}
	p:last-child{
		margin-bottom: 0;
	}
	.copyright__link{
		text-decoration: none;
	color: #5e92b9;
	-webkit-transition: all 0.3s ease-in;
	   -moz-transition: all 0.3s ease-in;
	    -ms-transition: all 0.3s ease-in;
	     -o-transition: all 0.3s ease-in;
	        transition: all 0.3s ease-in;
	&:hover{
		color:@yellow;
	}
	}
}
