.social-icon{
	font-size: 32px;
	margin-top: 19px;
	
	
	a{
		text-decoration: none;
		border-bottom: none !important;
		-webkit-transition: all 0.3s ease-in;
	   -moz-transition: all 0.3s ease-in;
	    -ms-transition: all 0.3s ease-in;
	     -o-transition: all 0.3s ease-in;
	        transition: all 0.3s ease-in;
	}
	
	.fa{
		margin-right: 30px;
		margin-bottom: 20px;
		
		@media(min-width: 1200px){
			margin-bottom: 0;
		}
		
		&:list-chaild{
			margin-right: 0;
		}
	}
}